body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header>div {
  display: inline-block;
  width: 33.33%;
  vertical-align: middle;
}
.employee{
  width: 100%;
}
.Employee-name{
  font-weight: 700;
}
button{
  background-color: black;
  color: white;
  width: 54px;
  height: 28px
}

.header-navigator{
  font-size: x-large;
  text-align: left;
  transform: scaleY(1.5);
  line-height: 20px;
  height: 28px;
  color: darkgray;
}

.header{
  margin-top: 15px;
    background: #fbfbfb;
    width: 50%;
    text-align: center;
}
.print-wrapper{
  text-align: end;
}
.backbtn{
  margin-left: 2vh;
}

.printbtn{
  margin-right: 2vh;
}

.Employee-Id{
  color: darkgray;
}

.content{
  width: 48%;
  margin-top: 3vh;
  margin-left: 3vh;
}
.ContactInfo-wrapper{
  border: 1px solid #eee;
}

.ContactDetail-wrapper, .StatusDetail-wrapper{
  display: flex;
  flex-direction: row;
  margin: 4px;

}
.ContactDetail-name{
  font-weight: 600;
}

.ContactDetail{
  margin-left: 2vh;
}
.Status{

  margin-top: 3vh;
  background-color: #eee;
  
}
.StatusDetail-name{
  font-weight: 600;
  
}

.content>div{
  margin: 20px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  width: calc(100% - 20px);
}


.StatusDetail-wrapper{
display: inline-block;
margin-right: 18vh;
padding-bottom: 5px;

}
.RoleInfo >div{
  display: inline-block;
  vertical-align: middle;
}
.RoleInfoBox{
  height: 15px;
  width: 15px;
  border: 1px solid yellow;
  margin-left: 25px;
}
.EmployeeImg img{
  width: calc(100% - 30px);
  margin: 15px;
}
.EmployeeImg{
  width: 20%;
}
.RoleInfoBox-wrapper{
  width: 10%;

}
.EmployeeRole{
  font-weight: 600;
}

.RoleDetail>div{
  vertical-align: top;
  margin: 2vh;
}

.statusIcon{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
  margin-right: 10px;
}